
.viewContainer{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.primaryGrid {
    display: grid;
    margin: 10px;
    margin-top: 10px;
  }
  .rowTitle{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 50px 1fr auto; /* 3 columns */
    border: 1px solid white;
    color : white;
    background-color: #114f4f;
    font-size: large;
    font-weight: 1000;
  }
  .row {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 50px 1fr auto; /* 3 columns */
    border: 1px solid white;
    color : white;
    background-color: #363689;
  }
  .column {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 30px;
  }
  .statusIcon {
    height: 50px;
    width: auto;
  }
  .options {
    font-size: medium;
  }
  