* {
  margin: 0;
}
.nav {
  background-color: rgb(177, 154, 174);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuLogoWrapper {
  display: flex;
  height: 60px;
  width: max-content;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 15px;
}
.hamMenu {
  height: 30px;
  width: auto;
}
.hamMenu:hover {
  cursor: pointer;
}
.nav-logo {
  height: inherit;
  width: auto;
  margin-left: 10px;
}
.title {
  font-size: 2rem;
  margin-right: 30px;
}

.accountIcon {
  height: 40px;
  width: max-content;
  margin-right: 10px;
  margin-left: 10px;
}
.accountIcon:hover {
  cursor: pointer;
}

.sideNav {
  position: fixed;
  top: 70px; 
  left: -300px;
  width: 250px;
  height: calc(100vh - 70px);
  background-color: rgb(55, 97, 36);
  transition: left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.sideNav.open {
  left: 0;
}

.closeButton {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 45px;
  cursor: pointer;
  margin: 0;
}
.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: max-content;
}
.menuList li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 90px;
  font-size: 15px;
  background-color: rgb(15, 57, 13);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  user-select: none;
  -webkit-user-select: none;
  color: white;
}
.menuList a {
  text-decoration: none;
  color: white;
}
.menuList li:hover {
  cursor: pointer;
  background-color: rgb(24, 37, 24);
}
.menuList li:focus {
  background-color: rgb(24, 37, 24);
}
.menuList li:active {
  background-color: rgb(22, 85, 22);
}
.logoutButton {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin: 0;
  margin-top: auto; 
  align-self: flex-end;
  height: 40px;
  width: auto;
  padding: 10px;
}
