body{
    margin:0;
    padding: 0;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    background-color:rgba(37,111,0) ;
}
.upperSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.upperSection h1{
    font-size: 20px;

}
